.fatTitle {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(40px);
  font-weight: 900;
  letter-spacing: rem(-2px);
  padding-top: rem(10px);

  @media (max-width: var(--mantine-breakpoint-md)) {
    font-size: rem(50px);
  }
}

.genericHeader {
  height: 56px;
  margin-bottom: 120px;
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.genericHeaderInner {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
